altgraph==0.16.1
astroid==2.3.3
certifi==2019.11.28
chardet==3.0.4
Click==7.0
colorama==0.4.1
ecdsa==0.14.1
esptool==2.8
Flask==1.1.1
Flask-MQTT==1.0.5
Flask-SocketIO==4.2.1
future==0.18.2
idna==2.8
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.3
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
paho-mqtt==1.5.0
pefile==2019.4.18
pyaes==1.6.1
pylint==2.4.4
pyserial==3.4
python-engineio==3.11.1
python-socketio==4.4.0
pywin32-ctypes==0.2.0
requests==2.22.0
six==1.13.0
typing==3.7.4.1
urllib3==1.25.7
Werkzeug==0.16.0
wrapt==1.11.2
